.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.LoginPage label {
  margin-right: 10px;
}

.LoginPage input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.LoginPage .error {
  color: red;
  margin-bottom: 10px;
}

.LoginPage button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.HomePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}